
/*
 * Set default classes for first and last column-list rows
 *
 * You might want to add your local.css file, and set the width for these 3 classes
 *
 * i.e. Add a 3 column list fitting in 960px
 * In your local.css file add this sentence
 *
 * .column-list-row-first,
 * .column-list-row-last,
 * .column-list-row {
 *   width: 320px;
 * }
 *
 */

.column-list-row-first,
.column-list-row-last,
.column-list-row {
  float: left;
}

.column-list-row-first {
  clear: left;
}
